.cake-pop-container {
	text-align: center;
}

.cake-pop-title {
	background-color: black;
	font-size: 300%;
	padding: 50px 0px 50px 0px;
}

.cake-pop-image {
	margin-top: 1.5%;
	width: 70%;
	background-color: black;
	padding-left: 15%;
	padding-right: 15%;
}

.cake-pop-image-two {
	margin-top: 1.5%;
	width: 70%;
	background-color: black;
	margin-bottom: 1.5%;
	padding-left: 15%;
	padding-right: 15%;
}
