nav {
	background-color: black;
	color: #fe4098;
	margin: 0;
	padding: 16px;
}

.logo-container {
	display: flex;
}

.logo {
	width: 10%;
	padding: 1%;
	margin-left: 3%;
}

.nav-title {
	margin-top: 4%;
}

a {
	text-decoration: none;
	color: #fe4098;
}

ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
}

nav ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 5px;
	cursor: pointer;
}

li:hover {
	background-color: white;
	border-radius: 10px;
}
