nav {
	background-color: black;
	color: #fe4098;
	margin: 0;
	padding: 16px;
}

.logo-container {
	margin-top: 2%;
	display: flex;
}

.logo {
	width: 4%;
	height: 4%;
	padding: 1%;
	margin-left: 3%;
	align-self: center;
}

.nav-title {
	margin-top: 2%;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #fe4098;
}

ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
}

nav ul li {
	text-decoration: none;
	display: inline-flex;
	padding: 5px;
	cursor: pointer;
}

li:hover {
	background-color: white;
	border-radius: 10px;
}
