.video-one {
	text-align: center;
	margin-top: 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;
	background-color: black;
}

.video-two {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;
	background-color: black;
}

.video-three {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1%;
	background-color: black;
}
